@model SportsStore.Models.Entities.Product

@*Мы создадим частичное представление, которое
представляет собой фрагмент содержимого, который внедряется в другое представление. Частичные
представления находятся в отдельных файлах и могут использоваться несколькими
представлениями, что может помочь сократить дублирование, особенно если вам нужно
визуализировать одни и те же данные в приложении несколько раз*@

<div class="item">
    <h3>@Model.Name</h3>
    @Model.Description
    <h4>@Model.Price.ToString("c")</h4>
</div>